<header>
  <div class="status-bar">
    <ul>
      <% if (locals.userId) { %>
        <li><a>Logged in as <%= userId %>.</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </nav>
</header>
