<!DOCTYPE html>

<html>
  <%- include("partials/head", { title: "Verification Email Sent" }) %>

  <body>
    <%- include("partials/header") %>

    <main>
      <h1>Verification Email Sent</h1>
      <p>Please check your email to verify your account.</p>
    </main>
  </body>
</html>
