<!DOCTYPE html>

<html>
  <%- include("partials/head", { title: "Home" }) %>

  <body>
    <%- include("partials/header") %>

    <main>
      <h1>Welcome to the User DB!</h1>
    </main>
  </body>
</html>
